* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: rgb(234, 237, 237);
  margin: 0;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
